
include partials/head.pug

div(style="width: 100%;max-width: 1240px;margin: 0 auto;text-align: center;")
  h2(style="margin-bottom:20px") Lista de Productos Cargados (#{products.length})

  #products
    if products.length > 0
      table(style="width: 80%; margin: 15px auto;text-align: center;border: 1px solid black;")
        tr
          th(style="font-size:25px;border: 1px solid black;") Nombre
          th(style="font-size:25px;border: 1px solid black;") Precio
          th(style="font-size:25px;border: 1px solid black;") Foto
        each val in products
          tr
            td(style="border: 1px solid black; font-size:18px") #{val.title}
            td(style="border: 1px solid black; font-size:18px") #{val.price}
            td(style="border: 1px solid black;")
              img(src=val.thumbnail alt=val.title style='width:150px; height:150px;object-fit:cover')
    else
      h3 No hay productos cargados

    a(style="text-decoration: none;display: inline-block;border: 1px solid black;padding: 5px 8px;width:170px;color: black;font-weight: bold;background-color:rgb(216, 211, 211);" href='/') Atrás  
    
      